@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.95 0.005 60);
  --foreground: oklch(0.2 0 0);
  --card: oklch(0.98 0.003 60);
  --card-foreground: oklch(0.3 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.25 0 0);
  --primary: oklch(0.5 0.15 250);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.92 0.005 60);
  --secondary-foreground: oklch(0.25 0 0);
  --muted: oklch(0.6 0.